/* Шрифта Repo на Стефан Пеев от www.fontlibrary.org */
@font-face {
  font-family: 'RepoRegular';
  src: url('/theme/fonts/RepoRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'RepoRegular';
  font-weight: normal;
  font-style: normal;
}

body > * {
  padding-left: 20px;
  padding-right: 20px;
}

main {
  flex-grow: 1;
}

article > header {
  font-size: 0.7em;
  background-color: #f5f5f5;
}

.icon {
  height: 1.5em;
}

.responsive-image {
  width: 100%;
  max-width: 512px;
  height: auto;
}

#map {
  height: 600px;
}