<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
  <head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="generator" content="Pelican" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/picnic.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/my-style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% endblock head %}
  </head>

  <body id="index" class="home">
    <nav>
      <a href="{{ SITEURL }}/index.html" class="brand">
        <span>{{ SITENAME }}</span>
      </a>

      <!-- responsive-->
      <input id="bmenub" type="checkbox" class="show"/>
      <label for="bmenub" class="burger pseudo button">Меню</label>

      <div class="menu">
        {% for title, link in MENUITEMS %}
          <a href="{{ link }}">{{ title }}</a>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in pages %}
            <a href="{{ SITEURL }}/{{ p.url }}" class="{% if p != page %} pseudo {% endif %} button">{{ p.title }}</a>
          {% endfor %}
        {% endif %}
        {% if DISPLAY_CATEGORIES_ON_MENU %}
          {% for cat, null in categories %}
            <a href="{{ SITEURL }}/{{ cat.url }}" class="{% if cat != category %} pseudo {% endif %} button">{{ cat }}</a>
          {% endfor %}
        {% endif %}
      </div>
    </nav>  
    
    {% block content %}
    {% endblock %}
    <footer id="contentinfo" class="body">
      <address id="about" class="vcard body">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/bg/">
          <img alt="Криейтив Комънс договор" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/2.5/bg/88x31.png" />
        </a>
        <br />
        Изходният код на този сайт е свободен, с лиценз
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/bg/">
          Криейтив Комънс Признание-Споделяне на споделеното 2.5 България
        </a>.
        Това не се отнася за авторските статии, снимките и видеата в него.
        Пълният изходен код на сайта можете да откриете в <a href="https://gitlab.com/pmg-gabrovo-8b/pmg-gabrovo-8b.gitlab.io">хранилището му в Gitlab</a>
        Изграден е с помощта на <a href="https://getpelican.com/">Pelican</a>,
        който стъпва върху основата на <a href="https://www.python.org/">Python</a>.
      </address><!-- /#about -->
    </footer><!-- /#contentinfo -->
  </body>
</html>
